@font-face {
	font-family: 'RubikMonoOne-Regular';
	src: url(../fonts/RubikMonoOne-Regular.ttf) format("opentype");
}
@font-face {
	font-family: 'Misto';
	src: url('../fonts/Misto.woff2') format('woff2'),
    url('../fonts/Misto.woff') format('woff');
}
@font-face {
	font-family: 'Play-Regular';
	src: url(../fonts/Play-Regular.ttf) format("opentype");
}
@font-face {
	font-family: 'Play-Bold';
	src: url(../fonts/Play-Bold.ttf) format("opentype");
}
