.pic-1 { grid-area: p1; }
.pic-2 { grid-area: p2; }
.pic-3 { grid-area: p3; }
.pic-4 { grid-area: p4; }
.pic-5 { grid-area: p5; }
.pic-6 { grid-area: p6; }
.pic-7 { grid-area: p7; }
.pic-8 { grid-area: p8; }
.pic-9 { grid-area: p9; }
.pic-10 { grid-area: p10; }
.pic-11 { grid-area: p11; }
.pic-12 { grid-area: p12; }
.pic-13 { grid-area: p13; }
.pic-14 { grid-area: p14; }
.pic-15 { grid-area: p15; }
.pic-16 { grid-area: p16; }
.pic-17 { grid-area: p17; }
.pic-18 { grid-area: p18; }
.pic-19 { grid-area: p19; }

[class^="pic-"] > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.gallery-container {
    display: grid;
    grid-template-areas:
      'p1 p1 p1 p1 p2 p2 p2 p2 p3 p3 p3 p3'
      'p4 p4 p4 p4 p5 p5 p5 p5 p6 p6 p6 p6'
      'p7 p7 p7 p8 p8 p8 p9 p9 p9 p10 p10 p10'
      'p11 p11 p11 p11 p12 p12 p12 p12 p13 p13 p13 p13'
      'p14 p14 p14 p14 p15 p15 p15 p15 p16 p16 p16 p16'
      'p17 p17 p17 p17 p18 p18 p18 p18 p19 p19 p19 p19';
    grid-gap: 0.438rem;
}

@media (orientation: portrait) {
  
    .gallery-container {
        grid-template-areas:
          'p1 p1' 
          'p2 p2' 
          'p4 p4'
          'p3 p3' 
          'p6 p6' 
          'p5 p5'
          'p14 p14' 
          'p17 p17' 
          'p7 p8'
          'p9 p10' 
          'p11 p11'
          'p12 p12' 
          'p13 p13' 
          'p18 p18'
          'p19 p19' 
          'p16 p16' 
          'p15 p15';
    }
   
  }

