@media screen and (max-width : 1366px) {
	.title h1 {
		font-size: 89px;
		line-height: 116px;
		text-transform: uppercase;
		padding-left: 45px;
		padding-bottom: 45px;
	}
	.date img {
		position: absolute;
		left: 11px;
		top: -14px;
		/* top: -47px; */
	}
	.date h2 {
		position: relative;
		font-size: 24px;
		line-height: 27px;
		padding-left: 6.8%;
		margin-bottom: 20px;
	}
	.date h2:last-of-type {
		width: 100%;
		text-align: center;
		padding: 0px;
	}
	.main-text p {
		font-family: Rubik-Regular;
		/* height: 185px; */
		padding: 45px;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.015em;
		text-align: justify;
	}
	.main-text-ru p {
		font-family: Rubik-Regular;
		padding: 45px;
		padding-top: 47px;
		font-size: 25px;
		line-height: 30px;
		letter-spacing: 0.015em;
		text-align: justify;
	}
	.circle-picture {
		padding-top: 35px;
	}
	.scroll {
	    display: inline-block;
	    vertical-align: bottom;
	    float: right;
	    padding-left: 0px;
	    padding-top: 149px;
	}
	.scroll-line {
		padding-top: 95px;
	}
	.cross-line {
		position: absolute;
		margin: 0px;
		width: 653px;
		height: 0px;
		left: -43px;
		top: 161px;
		border: 1px solid #000000;
		transform: rotate(29.7deg);
	}
	.social-networks {
		position: relative;
		margin-top: 179px;
		padding-bottom: 43px;
		padding-left: 45px;
		font-size: 24px;
		line-height: 34px;
		text-align: justify;
		letter-spacing: 0.015em;
		text-decoration: none;
		color: #000000;
	}
	.donate {
	    float: right;
	    margin-top: 64px;
	    margin-right: 35px;
	}
}
@media screen and (max-width : 1024px) {
	.title {
	    display: inline-block;
	    width: 67%;
	    vertical-align: top;
	    padding-top: 2.125%;
	    border-right: 1px solid #000000;
	}
	.title h1 {
	    font-size: 71px;
	    line-height: 98px;
	    text-transform: uppercase;
	    padding-left: 3.125%;
	    padding-right: 3.125%;
	    padding-bottom: 3.125%;
	}
	.date {
	    display: inline-block;
	    position: relative;
	    width: calc(33% - 1px);
	    float: right;
	    vertical-align: middle;
		margin-top: 2%;
	   /* margin-top: 3.9%; */
	}
	.date img {
	    position: absolute;
	    left: 9px;
		top: -48px;
	}
	.date h2 {
		font-size: 17px;
		line-height: 21px;
		padding-left: 9.5%;
	}
	.date h2:last-of-type {
		width: 100%;
		text-align: center;
		padding: 0px;
		margin-bottom: 0px;
	}
	/* .date h2 {
	    display: inline-block;
	    position: relative;
	    font-size: 21px;
	    line-height: 24px;
	    margin-bottom: 10px;
	    padding-left: 20.75%;
	} */
	.main-text p {
		padding: 30px;
		font-size: 17px;
		line-height: 21px;
	}
	.main-text-ru p {
		padding: 30px;
		font-size: 21px;
		line-height: 28px;
	}
	/* .manifest p {
	    height: 200px;
	    padding: 30px;
	    font-size: 21px;
	    line-height: 28px;
	    letter-spacing: 0.015em;
	    text-align: justify;
	} */
	/*.circle {
	    display: inline-block;
	    width: calc(37% - 1px);
	    float: right;
	}*/
	.circle-picture {
		padding-top: 37px;
	}
	.cross-line {
		position: absolute;
		margin: 0px;
		width: 485px;
		height: 0px;
		left: -27px;
		top: 111px;
		border: 1px solid #000000;
		transform: rotate(27.5deg);
	}
	.donate {
		    float: right;
		    margin-top: 43px;
		    margin-right: 30px;
		}
	.donate-ru {
		float: right;
		margin-top: 43px;
		margin-right: 30px;
	}
		.donate a {
	    background-color: #CCFF15;
			padding: 14px 39px;
			font-size: 24px;
			line-height: 30px;
	    color: #000000;
	    text-decoration: none;
	}
	.donate-ru a {
		background-color: #CCFF15;
		padding: 20px 25px;
		font-size: 19px;
		line-height: 29px;
		color: #000000;
		text-decoration: none;
	}
	.social-networks {
		position: relative;
		margin-top: 119px;
		padding-bottom: 19px;
		padding-left: 30px;
		font-size: 19px;
		line-height: 29px;
		text-align: justify;
		letter-spacing: 0.015em;
		text-decoration: none;
		color: #000000;
	}
	/* .social-networks {
		position: relative;
		margin-top: 168px;
		padding-bottom: 45px;
		padding-left: 45px;
		font-size: 24px;
		line-height: 34px;
		text-align: justify;
		letter-spacing: 0.015em;
		text-decoration: none;
		color: #000000;
	} */
	.scroll {
		display: inline-block;
		vertical-align: bottom;
		float: right;
		padding-left: 0px;
		padding-top: 94px;
	}
	.scroll-box {
	    width: 52%;
	}
	.scroll-line {
		display: inline-block;
		float: right;
		vertical-align: top;
		width: 50%;
		padding-top: 50px;
		border-left: 1px solid #000000;
	}
	/* SECOND BLOCK STYLES */
	.manifest-title {
		margin-top: 200px;
	}
	.manifest-title-ru {
		margin-top: 200px;
	}
	.manifest-title h1 {
		font-size: 64px;
		line-height: 82px;
	}
	.manifest-title-ru h1 {
		font-size: 53px;
		line-height: 82px;
	}
	.manifest-title img {
		width: 45%;
		top: -77px;
		left: 27.5%;
	}
	.manifest-title-ru img {
		width: 45%;
		top: -77px;
		left: 27.5%;
	}
	.block-manifest p {
		margin-top: 130px;
		padding-bottom: 135px;
		font-size: 17px;
		line-height: 21px;
	}
	.title-about-us hr {
		bottom: 23px;
	}
	.agenda-title h1 {
		font-size: 64px;
		line-height: 82px;
	}
	.agenda-title img {
		width: 45%;
		top: -77px;
		left: 27.5%;
	}
	/* ABOUT US BLOCK STYLES */
	.about-us h1 {
		font-size: 64px;
		line-height: 82px;
	}
	.about-us .ru {
		font-size: 53px;
		line-height: 63px;
	}
	.about-us .ru hr {
		bottom: 16px;
	}
	.about-us p {
		font-size: 17px;
		line-height: 21px;
	}
	.agenda-title .ru {
		font-size: 53px;
	}
	.pride-circle {
		display: inline-block;
		position: absolute;
		width: 17%;
		top: calc(-50% - 5px);
		right: -3.8%;
	}
	/* SECURITY STYLES */
	.route-and-security h2 {
		font-size: 64px;
		line-height: 82px;
	}
	.route-and-security .ru {
		font-size: 53px;
		line-height: 63px;
	}
	.title-security hr {
		bottom: 23px;
	}
	.title-security .ru hr {
		bottom: 16px;
	}
	.security p {
		margin-top: 83px;
		font-size: 17px;
		line-height: 21px;
	}
	.route p {
		margin-left: -10px;
		margin-top: 82px;
		font-size: 64px;
		line-height: 67px;
	}
	.route-ru .ru-and {
		line-height: 63px;
		margin-top: 74px;
		font-size: 53px;
	}
	.route h2 {
		font-size: 64px;
		line-height: 82px;
	}
	.route-and-security .ru {
		font-size: 53px;
		line-height: 63px;
	}
	.route hr {
		bottom: 23px;
	}
	.route-ru .ru hr {
		bottom: 16px;
	}
	/* SPEAKERS STYLES */
	.speaker-boxes h3, .speaker-boxes h4 {
		padding-left: 0px;
	}
	.first-row {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.first-row div {
		text-align: center;
		width: 100%;
	}
	.second-row {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.second-row div {
		text-align: center;
		width: 100%;
	}
	.third-row {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.third-row div {
		text-align: center;
		width: 100%;
	}
	.forth-row {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.forth-row div {
		text-align: center;
		width: 100%;
	}
	.fifth-row {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.fifth-row div {
		text-align: center;
		width: 100%;
	}
	.fifth-row div:last-of-type {
		display: none;
	}
}
@media screen and (max-device-width : 828px) {
	header .logo {
		padding-bottom: 2px;
	}
	.title h1 {
		font-size: 70px;
		line-height: 97px;
	}
	.date h2 {
		font-size: 17px;
		line-height: 21px;
		padding-left: 7.8%;
	}
	.date h2:last-of-type {
		width: 100%;
		text-align: center;
		padding: 0px;
	}
	.main-text p {
		padding: 30px;
		font-size: 17px;
		line-height: 21px;
	}
	.main-text-ru p {
		padding: 30px;
		font-size: 17px;
		line-height: 28px;
	}
	.circle-picture {
		padding-top: 40px;
	}
	.donate-ru {
		float: right;
		margin-top: 42px;
		margin-right: 30px;
	}
	.donate-ru a {
		background-color: #CCFF15;
		padding: 19px 19px;
		font-size: 17px;
		line-height: 21px;
		color: #000000;
		text-decoration: none;
	}
	.cross-line {
		width: 459px;
		height: 0px;
		left: -23px;
		top: 101px;
		transform: rotate(26.3deg);
	}
	.social-networks {
		margin-top: 122px;
		padding-bottom: 19px;
		padding-left: 30px;
		font-size: 17px;
		line-height: 21px;
	}
	.scroll {
		padding-left: 0px;
		padding-top: 86px;
	}
	.scroll-line {
		padding-top: 38px;
	}
	/* FOURTH BLOCK STYLES */
	.agenda-title h1 {
		font-size: 70px;
	}
	.pride-circle {
		display: inline-block;
		position: absolute;
		width: 17%;
		top: calc(-50% - 1px);
		right: -3.8%;
	}
}
@media screen and (max-device-width : 375px) {
	.block-manifest p {
		margin-top: 130px;
		padding-bottom: 135px;
		font-size: 11px;
		line-height: 17px;
		text-align: justify;
		padding-right: 10.5%;
		padding-left: 10.5%;
	}
	.about-us p {
		font-size: 11px;
		line-height: 17px;
		padding-right: 10.5%;
		padding-left: 10.5%;
	}
	.agenda-title {
		margin-top: 215px;
	}
	.time-and-event {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.route-and-security {
		padding-bottom: 115px;
	}
	.security p {
		font-size: 11px;
		line-height: 17px;
	}
	.box {
		display: inline-flex;
		padding-left: 10.5%;
		width: 79%;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.security {
		margin-top: 150px;
		width: 100%;
	}
	.title-security {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.security p {
		margin-top: 75px;
	}
	.route {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.route-ru {
		margin: 0px;
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.route p {
		display: none;
	}
	.route-ru .ru-and {
		display: none;
	}
	.title-route {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.route h2 {
		margin-left: 0px;
		margin-bottom: 75px;
	}
	.route-ru h2 {
		margin-left: 0px;
		margin-bottom: 75px;
	}
	.route-picture {
		width: 100%;
	}
}
