@media only screen and (max-width : 1366px) {
	.title h1 {
		font-size: 89px;
		line-height: 116px;
		text-transform: uppercase;
		padding-left: 45px;
		padding-bottom: 45px;
	}
	.manifest p {
		height: 185px;
		padding: 45px;
		font-size: 24px;
    	line-height: 26px;
		letter-spacing: 0.015em;
		text-align: justify;
	}
	.circle img {
		width: calc(100% - 132px);
		padding-top: 37px;
		padding-left: 66px;
	}
	.scroll {
	    display: inline-block;
	    vertical-align: bottom;
	    float: right;
	    padding-right: -5px;
	    padding-left: 0px;
	    padding-top: 208px;
	}
	.cross-line {
	    position: absolute;
	    margin: 0px;
	    width: 651.46px;
	    height: 0px;
	    left: -43px;
	    top: 156px;
	    border: 1px solid #000000;
	    transform: rotate(28.9deg);
	}
	.social-networks {
	    position: relative;
	    margin-top: 168px;
	    padding-bottom: 45px;
	    padding-left: 45px;
	    font-size: 24px;
	    line-height: 34px;
	    text-align: justify;
	    letter-spacing: 0.015em;
	    text-decoration: none;
	    color: #000000;
	}
	.donate {
	    float: right;
	    margin-top: 64px;
	    margin-right: 35px;
	}
}