@media only screen and (max-width : 1366px) {
	.title h1 {
		font-size: 89px;
		line-height: 116px;
		text-transform: uppercase;
		padding-left: 45px;
		padding-bottom: 45px;
	}
	.manifest p {
		font-family: Rubik-Regular;
		height: 185px;
		padding: 45px;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.015em;
		text-align: justify;
	}
	.circle img {
		width: calc(100% - 132px);
		padding-top: 37px;
		padding-left: 66px;
	}
	.scroll {
	    display: inline-block;
	    vertical-align: bottom;
	    float: right;
	    padding-left: 0px;
	    padding-top: 145px;
	}
	.cross-line {
		position: absolute;
		margin: 0px;
		width: 651.46px;
		height: 0px;
		left: -43px;
		top: 156px;
		border: 1px solid #000000;
		transform: rotate(28.9deg);
	}
	.social-networks {
	    position: relative;
	    margin-top: 168px;
	    padding-bottom: 45px;
	    padding-left: 45px;
	    font-size: 24px;
	    line-height: 34px;
	    text-align: justify;
	    letter-spacing: 0.015em;
	    text-decoration: none;
	    color: #000000;
	}
	.donate {
	    float: right;
	    margin-top: 64px;
	    margin-right: 35px;
	}
}
@media only screen and (max-width : 1024px) {
	.title {
	    display: inline-block;
	    width: 67%;
	    vertical-align: top;
	    padding-top: 2.125%;
	    border-right: 1px solid #000000;
	}
	.title h1 {
	    font-size: 71px;
	    line-height: 98px;
	    text-transform: uppercase;
	    padding-left: 3.125%;
	    padding-right: 3.125%;
	    padding-bottom: 3.125%;
	}
	.date {
	    display: inline-block;
	    position: relative;
	    width: calc(33% - 1px);
	    float: right;
	    vertical-align: middle;
	   /* margin-top: 2.5%; */
	   margin-top: 3.9%;
	}
	.date img {
	    position: absolute;
	    left: 9px;
	   /* top: -47px; */
	   top: -66px;
	}
	.date h2 {
	    display: inline-block;
	    position: relative;
	    font-size: 21px;
	    line-height: 24px;
	    margin-bottom: 10px;
	    padding-left: 23.75%;
	}
	.manifest p {
	    height: 200px;
	    padding: 30px;
	    font-size: 21px;
	    line-height: 28px;
	    letter-spacing: 0.015em;
	    text-align: justify;
	}
	.circle {
	    display: inline-block;
	    width: calc(37% - 1px);
	    float: right;
	}
	.circle img {
	    width: 61.5%;
	    padding-top: 21%;
	    padding-left: 18.9%;
	}
	.cross-line {
	    position: absolute;
	    margin: 0px;
	    width: 473px;
	    height: 0px;
	    left: -22px;
	    top: 95px;
	    border: 1px solid #000000;
	    transform: rotate(24deg);
	}
	.donate {
		    float: right;
		    margin-top: 43px;
		    margin-right: 30px;
		}
		.donate a {
	    background-color: #CCFF15;
	    padding: 14px 39px;
	    font-size: 24px;
	    line-height: 30px;
	    color: #000000;
	    text-decoration: none;
	}
	.social-networks {
	    position: relative;
	    margin-top: 83px;
	    padding-bottom: 19px;
	    padding-left: 30px;
	    font-size: 21px;
	    line-height: 30px;
	    text-align: justify;
	    letter-spacing: 0.015em;
	    text-decoration: none;
	    color: #000000;
	}
	.scroll {
	    display: inline-block;
	    vertical-align: bottom;
	    float: right;
	    padding-left: 0px;
	    padding-top: 46px;
	}
	.scroll-box {
	    width: 52%;
	}
	.scroll-line {
	    display: inline-block;
	    float: right;
	    vertical-align: top;
	    width: 50%;
	    padding-top: 66px;
	    border-left: 1px solid #000000;
	}
	.picture {
	    display: inline-block;
	    width: calc(33% - 1px);
	    border-left: 1px solid #000000;
	    border-bottom: 1px solid #000000;
	}
	.picture img {
	    float: right;
	    width: calc(100% - 2px);
	}
}
@media (max-device-width : 375px) {
	.title h1 {
		font-size: 70px;
		line-height: 97px;
	}
	.manifest p {
		height: 178px;
		padding: 30px;
		font-size: 17px;
		line-height: 21px;
	}
	.circle img {
		width: 61.5%;
		padding-top: 18.5%;
		padding-left: 18.9%;
	}
	.cross-line {
		position: absolute;
		padding: 0px;
		margin: 0px;
		width: 452px;
		height: 0px;
		left: -20px;
		top: 95px;
		border: 1px solid #000000;
		transform: rotate(25deg);
	}
	.social-networks {
		margin-top: 111px;
		padding-bottom: 19px;
		padding-left: 30px;
		font-size: 17px;
		line-height: 21px;
	}
	.scroll {
		padding-left: 0px;
		padding-top: 78px;
	}
	.scroll-line {
		padding-top: 36px;
	}
}
