/* MAIN STYLES */
html, body {
    min-width: 1440px;
	min-height: 100%;
   	height: 100%;
   	font-family: Rubik One;
   	background-color: #E5E5E5;
}
header {
	display: inline-block;
	width: 100%;
	background-color: #E5E5E5;
}

header .logo {
	display: inline-block;
	margin: 21px 0px 0px 45px;
	width: calc(67% - 45px);
	border-right: 1px solid #000000;
}
header .language {
	display: inline-block;
	float: right;
	margin-right: 45px;
	margin-top: 40px;
	vertical-align: top;
}

.language a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
}
main {
	display: inline-block;
	width: 100%;
}
.top {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #000000;
}
.title {
	display: inline-block;
	width: 67%;
	vertical-align: top;
	padding-top: 45px;
	border-right: 1px solid #000000;
}
.title h1 {
	font-size: 96px;
	line-height: 119px;
	text-transform: uppercase;
	padding-left: 45px;
	padding-bottom: 45px;
}

.date {
	display: inline-block;
	position: relative;
	width: calc(33% - 122px);
	float: right;
	vertical-align: middle;
	/* margin-top: 40px; */
	margin-top: 67px;

}

.date img {
	position: absolute;
    left: -84px;
    /* top: -14px; */
    top: -47px;
}
.date h2 {
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 15px;
}
.date h2:last-of-type {
	margin-bottom: 0px;
}
/* .red {
	margin: 0px;
	width: 100%;
	border: 1px solid #FF0000;
}

.yellow {
	border: 1px solid #CCFF15;
	transform: rotate(89.87deg);
	margin-left: 290px;
	width: 100%;
} */
.left-block {
	width: 67%;
	float: left;
}
.manifest-and-circle {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #000000;
}
.manifest {
	display: inline-block;
	position: relative;
    vertical-align: bottom;
    width: 63%;
    border-right: 1px solid #000000;
}
.manifest img {
	position: absolute;
	width: 373px;
	height: 148px;
}
.manifest p {
	position: relative;
	height: 216px;
	padding: 52px 45px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.015em;
	text-align: justify;
}
.circle {
	display: inline-block;
	width: calc(37% - 1px);
	float: right;
}
.circle img {
	width: calc(100% - 132px);
	padding-top: 45px;
	padding-left: 66px;
}
/*.manifest img {
	position: absolute;
	width: 272px;
	height: 57.71px;
	left: 619px;
	top: 620px;
} */
.picture {
	display: inline-block;
	width: calc(33% - 1px);
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
} 
.picture img {
	float: right;
    width: 99%;
}

.sn-and-scroll {
	display: inline-block;
	width: 100%;
}
.sn-and-donate {
	display: inline-block;
	position: relative;
    width: 63%;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.social-networks {
	position: relative;
	margin-top: 159px;
	padding-bottom: 49px;
	padding-left: 46px;
	font-size: 24px;
	line-height: 34px;
	text-align: justify;
	letter-spacing: 0.015em;
	text-decoration: none;
	color: #000000;
}
.social-networks a {
	text-decoration: none;
	color: #000000;
}
.social-networks a:hover {
	color: #CCFF15;
}
.donate {
	float: right;
	margin-top: 74px;
	margin-right: 45px;
}
.donate a {
	background-color: #CCFF15;
	padding: 29px 80px;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-decoration: none;
}
.donate-ru {
	float: right;
	margin-top: 74px;
	margin-right: 45px;
}
.donate-ru a {
	background-color: #CCFF15;
	padding: 29px 29px;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-decoration: none;
}
.cross-line {
	position: absolute;
    margin: 0px;
    width: 680.46px;
    height: 0px;
    left: -36px;
    top: 154px;
    border: 1px solid #000000;
    transform: rotate(27deg);
}
.scroll {
	display: inline-block;
    vertical-align: bottom;
    width: calc(37% - 1px);
    float: right;
    /* padding-right: 50%; */
    /* padding-left: 165px; */
    padding-top: 145px;
}
.scroll-box {
	width: 52%;
}
.scroll-box img {
	float: right;
    margin-bottom: 19px;
}
.scroll-line {
	display: inline-block;
    float: right;
    vertical-align: top;
    width: 50%;
    padding-top: 112px;
    border-left: 1px solid #000000;
}

/* SECOND BLOCK STYLES */

.text {
	display: inline-block;
	width: 100%;
}
.box-left-bottom-border {
	display: inline-block;
    float: right;
    width: calc(45.5% - 1px);
}
.left-bottom-border {
	display: inline-block;
    vertical-align: top;
    /* margin-right: 30.34%; */
    width: calc(34% - 2px);
    padding-top: 125px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

.left-border {
	display: inline-block;
    float: right;
    margin-right: 66%;
    margin-top: 126px;
    padding-top: 42px;
    border-left: 1px solid #000000;
}
.box-title-text-picture {
	display: inline-block;
	width: 100%;
	margin-bottom: 58px;
}
.text h1 {
	
	margin-left: 44%;
	font-size: 96px;
	line-height: 119px;
}
.rainbow {
	display: inline-block;
	width: 35.83%;
	margin-left: 3.75%;
	margin-top: 45px;
}
.rainbow img {
	width: 100%;
}
.long-text {
	display: inline-block;
	vertical-align: top;
	width: 51.94%;
	margin-top: 41px;
	float: right;
	margin-right: 3.75%;
}
.long-text p {
	font-size: 18px;
	line-height: 23px;
	text-align: justify;
}
.impressum {
	font-size: 14px;
	width: 100%;
	float: right;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 45px;
}
.impressum p {
	display: inline-block;
	padding-right: 10px;
}
.impressum a {
	display: inline-block;
	color: #000000;
	padding-right: 10px;
}

/* THIRD BLOCK STYLES */

/*
.route {
	position: relative;
	vertical-align: top;
	width: 100%;
}

.route h1 {
	font-family: Rubik One;
	font-size: 96px;
	line-height: 119px;
	margin-top: 32px;
	margin-left: 45px;
	margin-bottom: 32px;
}
.long-blue-line {
	position: absolute;
	left: 478px;
	top: 39px;
}
/* .block-with-red-line {
	display: inline-block;
	position: relative;
	height: 611px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
 */
.plan {
	display: inline-block;
	width: 82%;
	vertical-align: top;
	
}
.agenda-and-map {
	width: calc(100% - 227px);
    margin-left: 227px;
    
	/*border-top: 1px solid #000000;
	border-bottom: 1px solid #000000; */
}
.agenda {
	display: inline-block;
	width: 50%;
	padding-top: 48px;
	vertical-align: top;
	float: left;
}
.agenda h2 {
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 32px;
}
.agenda .time {
	display: inline-block;
	width: calc(20% - 19px); 
	font-size: 14px;
	line-height: 22px;
	color: #726E6E;
	margin-top: 1px;
}
.agenda ul {
	vertical-align: top;
	text-align: top;
}
.agenda .event li {
	margin-bottom: 40px;
}
.agenda .time li {
	margin-bottom: 39px;
}
#square {
	width: 12px;
    height: 12px;
    background: #000000;
    margin-bottom: 5px;
    margin-left: 30px;
}
.agenda .event {
	display: inline-block;
	width: calc(80% - 19px);
	font-size: 18px;
	line-height: 22px;
}
.map {
	display: inline-block;
	width: 50%;
}
.countdown {
	display: inline-block;
	width: 82%;
	vertical-align: top;
}

.countdown #days {
	display: inline-block;
	padding-right: 68px;
    padding-top: 89px;
    padding-left: 207px;
    font-size: 72px
}
.countdown #hours {
	display: inline-block;
	padding-right: 68px;
    padding-top: 89px;
    font-size: 72px
}
.countdown #minutes {
	display: inline-block;
	padding-right: 68px;
    padding-top: 89px;
    font-size: 72px
}
.countdown #seconds {
	display: inline-block;
    padding-top: 89px;
    font-size: 72px
}
