@import 'constants';
@import 'colors';
@import 'form';
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 1530px;
  background-color: $primary-font-color;
}

html {
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
  color: $primary-font-color;
  margin-bottom: 1.3rem;
  word-break: break-word;
}

h1 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

a, .desktop-language {
  cursor: pointer;
}

img {
  border-radius: .25rem;
}

.disable {
  display: none;
}

.disable-overflow {
  position: fixed;
  overflow: hidden;
}

.rotate {
  transform: rotate(180deg);
}

.plant {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 0;
  margin-left: -45rem;
  opacity: 0.7;
}

.plant-home {
  bottom: 0;
}

.page-decor {
  position: absolute;
  left: 70%;
  top: 30%;
  z-index: -10;
}

.drawing {
  position: absolute;
  bottom: 0;
  left: 80%;
  z-index: 0;
}

.buttons-container {
  text-align: center;
  margin: 3rem 0;
}

.single-page {
  @include max-width;
  padding: 4rem 2rem;

  .article-image {
    @include center;
    margin-bottom: 2rem;
  }

  .route-image {
    @include center;
    margin: 4rem 0 1rem;
  }

  .route-image img {
    width: 35rem;
    height: auto;
    outline: 1px solid black;
  }

  .route-image figcaption {
    font-size: small;
  }

  .partner-image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-image img {
    max-width: 8rem;
    border-radius: 0rem;
    padding: 0.3rem;
  }

  .article-logo {
    @include center;
  }

  .article-logo img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
  }
}

.main-image {
  border-radius: 50%;
  margin-right: 2rem;
  width: 100%;
  align-self: baseline;
}

.single-page-summary {
  @include row;

  .summary {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .social {
    margin: 0;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.dots-container {
  display: none;
}

.accent-section {
  @include reset-a-style;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 3.375rem;
  max-width: 1024px;
  margin-bottom: 1rem;

  img {
    border-radius: 4px;
  }
}

.regular-section {
  @include row;
  @include reset-a-style;
  background-color: white;
  max-width: 800px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  h4 {
    margin-bottom: .5rem;
  }

  .text {
    margin-bottom: 0;
  }

  div {
    @include column;
    margin-left: 1rem;
    justify-content: center;
  }
}

.regular-section-help, .regular-list-item {
  @include row;
  @include reset-a-style;
  background-color: white;
  max-width: 800px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;

  .text {
    margin: 0 0 0 1rem;
  }
}

.help-list-icon {
  height: .75rem;
  margin-right: .25rem;
}

.accent-section-mobile, .regular-section-mobile {
  display: none;
}

.menu-item {
  margin-right: 1rem;
}

nav {
  @include max-width;
  @include row;
  align-items: center;
  justify-content: space-between;
}

.heading-with-dots {
  align-items: center;
  margin-bottom: 3.5rem;

  h1 {
    font-size: 3.5rem;
    margin: 0;
  }
}

.heading-dots-container{
  padding-bottom: 1.1rem;
}

.header-logo {
  z-index: 100;
  margin: 1.7rem 0rem 0;
}

.content {
  background-color: $background-color;
  flex: 1;
  position: relative;
  z-index: 0;

  p, ul {
    line-height: 1.6rem;
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 2rem;
  }
}

.partner-logos {
  @include center;
  margin: 1rem;
}

.logo {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  a {
    @include reset-a-style;
    color: $inverse-font-color;
  }
}

.projects-page {
  @include max-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  section {
    background-color: #FFFFFF;
    margin-bottom: 2rem;
    border-radius: 4px;
    width: 100%;
  }
}

body {
  @include column;
  color: $primary-font-color;
  font: 100% $regular-font;
  min-height: 100vh;

  .home-page {
    @include max-width;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  .image {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .page-heading {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1:before {
      @include dot;
      margin-right: .75rem;
    }

    h1:after {
      @include dot;
      margin-left: .75rem;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .inline-svg {
      width: 1.5rem;
      margin-right: 1rem;
      color: $inverse-font-color;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    min-height: 10.9rem;
    width: 100%;
  }

  .header {
    @include row;
    height: auto;

    ul {
      @include row;

      li {
        list-style: none;
      }
    }

    .q-svg-header {
      svg {
        width: auto;
        height: 5.75rem;
        display: inline-block;
      }
    }

    .burger {
      display: none;
      cursor: pointer;
    }

    .hamburger-languages {
      display: none;
    }

    .language-popup {
      position: absolute;
      top: 6.3rem;
      z-index: 2;
    }

    .desktop-language {
      display: flex;
      align-items: center;

      svg {
        margin-left: .25rem;
      }
    }

    .header-rectangle {
      z-index: -100;

      position: absolute;
      overflow: hidden;

      left:50%;
      transform: translate(-50%, 0);
    }
  }

  .column {
    margin-right: 1rem;
  }

  footer {
    background-color: $primary-font-color;
    color: $inverse-font-color;
    padding: 2rem 2rem 0;
    z-index: 1;

    a {
      @include reset-a-style;
      color: $inverse-font-color;
      margin-bottom: .75rem;
    }

    a:hover, a:active {
      text-decoration: underline;
    }

    nav {
      align-items: baseline;
      min-height: 5rem;
    }

    .q-svg-footer {
      svg {
        width: auto;
        height: 2.5rem;
        display: inline-block;
      }
    }
  }
}

.calendar {

  padding: 3rem 0;
  background-color: $background-color;
  border-top: 1px dashed #C2C2C2;

  .calendar-content {
    @include max-width;
    @include center;
  }

  .item {
    @include row;
    width: 40rem;
    margin-bottom: 1rem;
  }

  .date {
    @include column;
    align-items: center;
    margin: 1.5rem;
    min-width: 6.5rem;
    justify-content: center;
  }

  .calendar-date {
    font-size: 3.1rem;
  }

  .calendar-month {
    font-size: 1.5rem;
    margin: 0;
  }

  .details {
    @include column;
    flex: 1;
    justify-content: space-between;
  }

  .time-location {
    @include row;
    padding: .75rem 1.5rem;
    justify-content: space-between;
    width: 100%;

    p {
      margin: 0;
    }
  }

  a {
    @include reset-a-style;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    margin: 0;
    padding: 1.5rem;
    font-weight: normal;
  }

  h4 {
    text-align: center;
  }

  .timer-style {
    display: inline-block;
    padding: 0 0 0 1rem;
    margin-right: -2.125rem;
    font-size: 3rem;
    transform: translateX(-2rem) translateY(-2rem);
    transform-origin: 0 0;
  }

  p.content-date {
    text-align: center;
    font-size: 3.25rem;
    line-height: 1.25em;
  }

  .content-timer {
    display: block;
    text-align: center;
    font-size: 4.25rem;
    margin: 0;
    padding: 2.5rem 1.25rem 0.6rem 1.25rem;
  }

  .time li {
    display: inline-block;
    padding: 0;
    margin: 1rem;
  }

  .day {
    color: $red;
  }

  .hour {
    color: $orange;
  }

  .minute {
    color: $yellow;
  }

  .seconds {
    color: $green;
  }
}

.youtube-content-desktop {
  @include center;
}
.youtube-content-mobile {
  display: none;
}
@import 'mobile';

// disable animation on page load:
// https://stackoverflow.com/questions/22222810/disable-css-transitions-on-page-load-only
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
