    {{ $routePage := .Site.GetPage "/route"  }}
    {{ with $routePage }}
    <a class="orange-button" href="{{ $routePage.RelPermalink }}">{{ $routePage.Title }}</a>
    {{ end }}
    {{ $strassenfestPage := .Site.GetPage "/strassenfest"  }}
    {{ with $strassenfestPage }}
    <a class="green-button" href="{{ $strassenfestPage.RelPermalink }}">{{ $strassenfestPage.Title }}</a>
    {{ end }}
    {{ $mitmachenPage := .Site.GetPage "/manifest"  }}
    {{ with $mitmachenPage }}
    <a class="purple-button" href="{{ $mitmachenPage.RelPermalink }}">{{ $mitmachenPage.Title }}</a>
    {{ end }}
    {{ $donatePage := .Site.GetPage "/spenden"  }}
    <a class="blue-button" href="{{ $donatePage.RelPermalink }}">{{ $donatePage.Title }}</a>
