    {{ $routePage := .Site.GetPage "/route"  }}
    {{ with $routePage }}
    <a class="button-link orange-button" href="{{ $routePage.RelPermalink }}">{{ $routePage.Title }}</a>
    {{ end }}
    {{ $strassenfestPage := .Site.GetPage "/strassenfest"  }}
    {{ with $strassenfestPage }}
    <a class="button-link green-button" href="{{ $strassenfestPage.RelPermalink }}">{{ $strassenfestPage.Title }}</a>
    {{ end }}
    {{ $archivePage := .Site.GetPage "/archive"  }}
    {{ with $archivePage }}
    <a class="button-link purple-button" href="{{ $archivePage.RelPermalink }}">{{ $archivePage.Title }}</a>
    {{ end }}
    {{ $donatePage := .Site.GetPage "/spenden"  }}
    {{ with $donatePage }}
    <a class="button-link blue-button" href="{{ $donatePage.RelPermalink }}">{{ $donatePage.Title }}</a>
    {{ end }}