<footer class="footer">
  <nav>
    <div class="footer-section">
      {{ range .Site.Menus.footer }}
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
    <div class="footer-social">
      {{ $homePage := .Site.GetPage "/" }}
      <a class="q-svg-footer" href="http://www.quarteera.de">
        {{- partial "q-logo-white.html" . -}}
      </a>
      {{- partial "social.html" . -}}
    </div>
  </nav>
<!--
  <div class="partner-logos">
    <img src="/images/partners/marzahn-partners.png"/>
  </div>
-->
</footer>
