<div class="partner-image">
  <div class="partner-block">
    <img src="/images/partners/marzahn_pride_2025/1_Rheinsberger_Preussenquelle_logo.png"/>
  </div>
<!--  <div class="partner-block">-->
<!--    <img src="/images/partners/02_BMFSFJ_DL_mitFoerderzusatz.png"/>-->
<!--  </div>-->
<!--  <div class="partner-block">-->
<!--    <img src="/images/partners/03_Jugendamt M-H Claim_jpeg_Logo_mit_Amt_web_Wir_für_Kinder_Jugend_Familie_2014.png"/>-->
<!--  </div>-->
<!--  <div class="partner-block">-->
<!--    <img src="/images/partners/04_Partnerschaftf_f_demokratie_marzan.png"/>-->
<!--  </div>-->
<!--  <div class="partner-block">-->
<!--    <img src="/images/partners/04_Partnerschaftf_f_demokratie_marzan.png"/>-->
<!--  </div>  -->
</div>
