<div class="partner-image">
  <div class="partner-block">
    <a href="https://www.preussenquelle.de/"><img src="/images/marzahn_pride_2025/partners/1_Rheinsberger_Preussenquelle_logo.png"/></a>
  </div>
<!--  <div class="partner-block">-->
<!--    <a href="https://www.bmfsfj.de/"><img src="/images/partners/02_BMFSFJ_DL_mitFoerderzusatz.png"/></a>-->
<!--  </div>-->
<!--  <div class="partner-block">-->
<!--    <a href="https://www.berlin.de/jugendamt-marzahn-hellersdorf/"><img src="/images/partners/03_Jugendamt M-H Claim_jpeg_Logo_mit_Amt_web_Wir_für_Kinder_Jugend_Familie_2014.png"/></a>-->
<!--  </div>-->
<!--  <div class="partner-block">-->
<!--    <a href="https://www.berlin.de/ba-marzahn-hellersdorf/politik-und-verwaltung/beauftragte/partnerschaft-fuer-demokratie/"><img src="/images/partners/04_Partnerschaftf_f_demokratie_marzan.png"/></a>-->
<!--  </div>-->
<!--  <div class="partner-block">-->
<!--    <a href="https://www.berlin.de/ba-marzahn-hellersdorf/politik-und-verwaltung/beauftragte/partnerschaft-fuer-demokratie/"><img src="/images/partners/04_Partnerschaftf_f_demokratie_marzan.png"/></a>-->
<!--  </div>  -->
</div>
