<div class="partner-image">
<!--  <div class="partner-block" onclick="window.location.href='https://www.preussenquelle.de/'">-->
<!--    <img src="/images/marzahn_pride_2025/partners/1_Rheinsberger_Preussenquelle_logo.png" alt=""/>-->
<!--  </div>-->
<!--  <div class="partner-block" onclick="window.location.href='https://www.berlin.de/ba-marzahn-hellersdorf/'">-->
<!--    <img src="/images/marzahn_pride_2025/partners/B_BA_MAHE_Logo_DE_H_PW_4C.png" alt=""/>-->
<!--  </div>-->
<!--  <div class="partner-block" onclick="window.location.href='https://www.berlin.de/ba-marzahn-hellersdorf/'">-->
<!--    <img src="/images/marzahn_pride_2025/partners/Logo_Berlin_gegen_Gewalt_RGB_schwarz.png" alt="Berlin gegen Gewalt Logo"/>-->
<!--  </div>-->
</div>
