<div class="content-container-main" style="margin-bottom: 20px">
  <center>
  <iframe frameborder="0" marginheight="0" marginwidth="0" src="https://www.betterplace-widget.org/projects/123188?l=de" width="320" height="320" style="border: 0; padding:0; margin:0;">
    Informieren und spenden: <a href="Marzahn Pride 2023, Berlin – Quarteera e.V. – betterplace.org"  target="_blank">„Marzahn Pride 2023, Berlin“</a> auf Spenden für Projekte & Organisationen – online transparent helfen – betterplace.org öffnen.
  </iframe>
  </center>
</div>