<div class="content-container-main lineup" style="margin-bottom: 20px">
  <center>
    <div style="font-weight: bold; margin-bottom: 10px">Lineup</div>
    <span class="lineup-label yellow-links"><a target="_blank" href="https://www.facebook.com/share/wtyEmn7yB4ochgXq/">Фольклорна група "Попурі</a></span>
    <span class="lineup-label orange-links"><a target="_blank" href="https://www.instagram.com/kudesnikmusic/">Кÿдесник ☾</a></span>
    <span class="lineup-label red-links"><a target="_blank" href="https://linktr.ee/sveta.ben.projects">Sveta Ben & Galya Chikiss</a></span>
    <span class="lineup-label-last green-links"><a target="_blank" href="https://www.instagram.com/aloeband/">АлоэВера</a></span>

    <div style="font-weight: bold; margin: 30px 0 10px 0">Afterparty</div>
    <div style="margin:  0 0 10px 0">20:00 - 05:00</div>
    <span class="purple-links"><a target="_blank" href="https://maps.app.goo.gl/pyHfXjk4eZbBC8Gy7">BUSCHE Club</a></span>
    <center>
</div>
