<p style="padding-top: 2rem;font-size: 13pt;font-weight: bold;">{{.Get "text"}}</p>
<div class="partner-image">
    <a href="https://www.migrationsrat.de/come-in/"><img src="/images/partners/01_ComE In_Logo-bunt.png"></a>
    <a href="http://www.migrationsrat.de/"><img src="/images/partners/02_Migrationsrat-Logo.png"></a>
    <a href="https://www.berlin.de/sen/justva/"><img src="/images/partners/B_SEN_JustVA_Logo_DE_V_PW_RGB.png" ></a>
    <a href="https://www.berlin.de/sen/lads/schwerpunkte/lsbti/"><img src="/images/partners/04_LADS-LSBTI_Logo_4c_600dpi.jpg" ></a>
    <a href="https://www.berlin.de/sen/lads/schwerpunkte/lsbti/igsv/"><img src="/images/partners/05_IGSV_Logo_CMYK_M_300dpi_280x242mm.png"></a>
</div>